body{
   background: $mainbg;
   font-family: 'Merriweather', serif;
   font-size: 18px;
   color: white;
}

// ***************************************************************
// misc
// ***************************************************************
.guide{
   // border: 1px solid $temp-blue;
}

.clear{
   clear: both;
}

// ***************************************************************
// header
// ***************************************************************
header{
   width: 200px;
   height: 650px;
   background: white;
   float: left;
}


// ***************************************************************
// footer
// ***************************************************************
.site-footer{
   background: white;
   margin-bottom: 20px;
   background: #e6e6e6;
   padding: 50px 0;
   .site-info{
      display: table;
      margin-left: auto;
      margin-right: auto;
   }
}

// ***************************************************************
// content area
// ***************************************************************
.entry-header{
   background: $mainbg;
}
