body{
   background: $mainbg;
   font-family: 'Merriweather', serif;
   font-size: 18px;
   color: white;
}

// ***************************************************************
// misc
// ***************************************************************
.guide{
   // border: 1px solid $temp-blue;
}

.clear{
   clear: both;
}

// ***************************************************************
// header
// ***************************************************************
header{
   width: 220px;
   height: 650px;
   background: $mainbg;
   float: left;
}
@media (max-width: 768px){
   header{
      width: 100%;
      float: none;
      display: block;
   }
   .site-branding{
      display: none;
   }
}

// ***************************************************************
// footer
// ***************************************************************
.site-footer{
   display: none;
}

// ***************************************************************
// content area
// ***************************************************************
.entry-header{
   background: $mainbg;
   height: auto;
}
