@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900&subset=latin-ext);
h1{
   font-family: 'Merriweather', serif;
   font-size: 35px;
   font-weight: normal;
   line-height: 1.5;
   text-transform: uppercase;
}
p{
   font-family: 'Merriweather', serif;
   font-size: 16px;
   color: white;
}
